body {
	background-color:	white;
	font-family:		Verdana, Arial, Helvetica, sans-serif;
	font-size:			8pt;
	margin:				0px;
	border:				0px;
	padding:			0px;
}

#layout-center{
	position: absolute;
	left: 210px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	height: 100%;
	overflow-y:auto;
}

#layout-left{
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: 210px;
	height: 100%;
	overflow-y:auto;
}

#layout-left a.active {font-weight:bold;}

p {
	font-size:	8pt;
}

h1 {
	font:			bold 18pt 'Trebuchet MS', Verdana, sans-serif;
	text-decoration:none; 
	line-height:	120%; 
}

h2 {
	font:			bold 12pt Arial, Helvetica, sans-serif;
	text-decoration:none; 
	line-height:	120%; 
}

a:link, a:active, a:visited { color: #006699; text-decoration: none; }
a:hover { color: #DD6900; text-decoration: underline; }

a.th:link { color: #FFA34F; text-decoration: none; }
a.th:active { color: #FFA34F; text-decoration: none; }
a.th:visited { color: #FFA34F; text-decoration: none; }
a.th:hover {  color: #FFA34F; text-decoration: underline; }

table.bg {
	background-color: #ACBBC6
}

th, td { 
	font:	normal 8pt Verdana, Arial, Helvetica, sans-serif;
}

th	{
	height:				25px;
	background-color:	#006699;
	color:				#FFA34F;
	font-weight:		bold;
	font-size:			11px;
}

hr	{ 
	height:				0px; 
	border:				solid #D1D7DC 0px; 
	border-top-width:	1px;
}

.row1 {
	background-color:	#EFEFEF;
}

.row2 {
	background-color:	#DEE3E7;
}

.row3 {
	background-color:	#D1D7DC;
}


.btnmain {
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btnmain:hover,
.btnmain:focus,
.btnmain:active,
.btnmain.active,
.open .dropdown-toggle.btnmain {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}


.messagebox-top {
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
	background-color: #EFEFEF;
	border: 1px solid black;
	border-bottom: 0px solid black;
}

.messagebox-bottom {
	font-size: 7pt;
	font-weight: bold;
	text-align: center;
	background-color: #DEE3E7;
	border: 1px solid black;
	border-top: 0px solid black;
}

form{
	margin-bottom: 0;
	margin-top: 0;
}

input {
	text-indent: 2px;
}

textarea, select{
	border: 1px solid; 
}

input, textarea, select {
	color: black;
	font: normal 8pt Verdana, Arial, Helvetica, sans-serif;
	border-color: black;
}

input.text {
	font-family: 'Courier New', courier;
}

textarea {
	font: 9pt 'Courier New', courier;
	line-height: 125%;
}

.btnmain {
	background-color: #FAFAFA;
	font-weight: bold;
	padding: 3px;
	border: 1px solid black;
}
.btnmain:hover {
text-decoration:none;
}

.btnlite {
	background-color: #FAFAFA;
	font-weight: normal;
	border-width: 1px;
}
#popUpBox {
    position:absolute;
    display:none; 
    background:#fff;
    cursor: pointer;
    border:3px solid #ccc;
    color: #333;
    font: bold 14px arial;
    padding:5px 15px;
}
 
#popUpBox:hover{
    background:#ffdb88;
}
 
.content {
    position:relative;
    margin:10px auto;
    height:auto;
    width:900px;
    border:1px solid #ccc;
    padding:10px;
}
 
.twrap{
    position:relative;
    width:920px;
    margin:10px auto;
    height:auto;
}
 
#replytext{
    position:relative;
    width:600px;
    margin:0;
    height:150px;
}
