<h3>Настройка сайта</h3>
<p>Модуль &laquo;Настройка сайта&raquo; предназначен для редактирования основных настроек.</p>
<p>В 2013г. в нем появилась новая настройка &laquo;Перенаправление&raquo;.</p>
<p>Если у Вас удалены на сайте важные страницы (например переехали на нашу систему из Джумлы либо важная статья переехала в другое место), эти настройки пригодятся. Сайт перенаправит все адреса со страниц, введенных в поле "+из" на страницы в поле "в".</p>
<p>Для создания нового Перенаправления нужно нажать на "плюсик" и ввести настройки.</p>