<h3>Настройка статей</h3>
<p>Здесь настраивается отображение статей на сайте &mdash; Разделы, Категории и Статьи.</p>
<p>ID раздела новостей &mdash; отсюда берутся настройки для модуля &laquo;Последние новости&raquo;, которые можно вывести на главной странице.</p>
<p>Новое &mdash; E-mail для оповещения о комментариях</p>
<p>На введенный сюда адрес получите уведомление, если кто-то откомментировал статью.</p>